.btn-default
{ 
background-color: #6f42c1; 
border-color: #6f42c1;
color:#FFF; 
float: right;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default 
{  
background-color: #7367f0; 
color:#FFF; 
}

.page-item.active .page-link {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.page-link {    
    color: #6f42c1;
    background-color: #fff;    
}
.btn-primary {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default 
{  
background-color: #7367f0; 
color:#FFF; 
}
.btn-warning {
    color: #fff;
    background-color: #ff9f43;
    border-color: #ff9f43;
    box-shadow: none;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-default 
{  
 
color:#FFF; 
}
.select2-selection__choice{
    background-color: #6f42c1 !important;
}
.card-primary.card-outline {
    border-top: 3px solid #6f42c1;
}